@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

:root {
    --card-size: 3;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Rye', cursive;
    letter-spacing: normal;
    font-weight: 400;
    color: #fff;
}
h1 {
    margin: 0;
    font-weight: 400;
}

button:active {
    background-color: darkgoldenrod;
}

button:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 600px;
    height: 100vh;
    min-height: 520px;
    background-image: url(./img/table.png);
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remaining-cards {
    margin-right: 4em ;
}
.table {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.card {
    height: calc(70px * var(--card-size));
    width: calc(50px * var(--card-size));
    background-image: url(./img/back-card.png);
    background-size: cover;
    overflow: hidden;
}

button {
  background-color: yellow;
  border: 0;
  padding: 0.75em 2em;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.draw-cards-btn {
    width: 100%;
}

.deck-cards-btn {
    align-self: flex-start;
}

.player {
    width: 60%;
    font-size: 1.5rem;

}
#player-1 {
   text-align: start;
}
#player-2 {
    text-align: end;
}

